-if @user_bookmark.blank?
  = link_to "Bookmark", article_bookmarks_path(@article), class: "glyphicon glyphicon-star-empty", method: :post
-else
  = link_to "Bookmarked!", article_bookmark_path(@article, @user_bookmark.id), class: "glyphicon glyphicon-star", method: :delete
