- if user_signed_in?
  = simple_form_for [@article, @comment], url: article_comments_path(@article) do |f|
    = f.input :body, label: "Add a new comment:", as: :text, input_html: { :style => 'height: 100px' }
    = f.hidden_field :parent_id
    = f.button :submit, 'Send!'
- else
  .well
    %p.text-muted
      Sign in to write comments
