%h1 All Articles
= will_paginate
%ul{id: "articles"}
  - @articles.each do |article|
    %li
      = link_to article.title, article_path(article)
= will_paginate
%br
-if user_signed_in?
  = link_to "Create a new article", new_article_path, class: "new article"
-else
  .well
    %p.text-muted
      Sign in to write articles
