%h1= @article.title
%p= @article.body
= link_to "Back to all articles", articles_path, class: "new article"
= link_to "Delete this article", article_path(@article), class: "delete article", method: :delete, data: {confirm: "U sure?"}
