%ul
-unless @bookmarked_articles.empty?
  -@bookmarked_articles.each do |bookmark|
    %li
      = link_to "#{bookmark.article.title}", article_path(bookmark.article)
-else
  There are no bookmarked articles to display!
