%h1 Welcome #{@user.displayed_name}!
.well
  .text-muted
    Your articles:
    =render 'article_list'
%br
.well
  .text-muted
    Your bookmarked articles:
    =render 'bookmarked_list'
%br
.well
  .text-muted
    Your rates:
    =render 'rates_list'
%br
=link_to "Edit your account", edit_user_registration_path(@user)
%br
%h4 Cancel my account
%p
Unhappy? #{button_to "Delete my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete}
