%h1 #{@user.displayed_name}'s profile
.well
  .text-muted
    %h2 #{@user.displayed_name}'s articles:
    =render 'article_list'
%br
.well
  .text-muted
    %h2 #{@user.displayed_name}'s bookmarked articles:
    =render 'bookmarked_list'
%br
.well
  .text-muted
    %h2 #{@user.displayed_name}'s rated articles:
    =render 'rates_list'
